{% extends 'base.html' %}

{% block content %}

<div class="p1">

<h1>Dados</h1><br>

<div id="container-dados">

    <div id="bloco-container-dados">
        <h2> Alunos </h2><br>

        <p><b> Total de alunos: </b> {{ alunos.count }} </p>
        <p><b> Tempo médio na academia: </b> {{ media_tempos }} </p>
        <p><b> Média de idades: </b> {{ media_idades }} </p>
    </div>
    
    <div id="bloco-container-dados">
        <h2> Professores </h2><br>

        <p><b> Total de professores: </b> {{ professores.count }} </p>
        <p><b> Treinos por professor: </b>  </p>

        {% for treino in treinos %}

        <p>{{ treino }}</p>

        {% endfor %}


        <p><b> Aulas por modalidade: </b></p>

        {% for aula in aulas %}

        <p>{{ aula }}</p>

        {% endfor %}

        <p><b> Aulas por professor: </b></p>

        {% for aula in aulas_prof %}

        <p>{{ aula }}</p>

        {% endfor %}
    </div>
    
    <div id="bloco-container-dados">
        <h2> Secretaria </h2><br>

        <p><b> Total de secretários:</b> {{ secretarios }} </p>

        <p><b> Aluno mais recente:</b> {{ ultimo_aluno }} </p>

        <p><b> Professor mais recente:</b> {{ ultimo_professor }} </p>

        <p><b> Professor do mês:</b> {{ professor_do_mes.nome }}</p>
            <img src="{{ professor_do_mes.urlfoto }} " alt="Foto professor do mês" id="foto-perfil">


        <p><b> Alunos por secretário: </b></p>

        {% for secretario in alunos_por_secretarios %}

        <p>{{ secretario }}</p>

        {% endfor %}
    </div>
</div>

<br>
<br>

<a href="{% url 'secretaria:home' %}" class="btn btn-secondary">Voltar</a>
    
<br>
<br>

</div>

{% endblock content %}