{% extends 'base.html' %}

{% block content %}

<div class="p1">

<h2>Secretaria</h2>

<div id="container-home-secretaria">

    <div style="width: 10px; height: 10px;"></div>
  
      <a href="{% url 'user:cadastro_aluno' %}" id="foto-container-secretaria">
          <div class="card bg-dark text-white">
          <img src="/static/cadastro_aluno.jpg" class="d-block w-100 brilho-50" alt="Cadastro aluno">
          <div class="card-img-overlay">
            <h1 class="card-title text-center">Cadastro de aluno</h1>
          </div>
        </div>
      </a>
  
      <div style="width: 10px;"></div>
  
      <a href="{% url 'user:cadastro_professor' %}" id="foto-container-secretaria">
        <div class="card bg-dark text-white">
          <img src="/static/cadastro_professor.jpg" class="d-block w-100 brilho-30" alt="Cadastro professor">
          <div class="card-img-overlay">
              <h1 class="card-title text-center">Cadastro de professor</h1>
          </div>
        </div>
      </a>
  
      <div style="width: 10px;"></div>

      <a href="{% url 'secretaria:dados' %}" id="foto-container-secretaria">
        <div class="card bg-dark text-white">
          <img src="/static/analise_dados.jpg" class="d-block w-100 brilho-30" alt="Dados">
          <div class="card-img-overlay">
              <h1 class="card-title text-center">Dados</h1>
          </div>
        </div>
      </a>
  
      <div style="width: 10px;"></div>
        
  </div>

</div>

{% endblock content %}