@font-face {
  font-family: 'DIGIB';
  src: url('/static/DS-DIGIB.TTF') format('truetype');
}

:root {
  --cor-fundo: rgb(55, 55, 55);
  --cor-da-borda: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.grid-sessao{
  display: grid;
  grid-template-areas: "bx1 bx1"
                       "bx2 bx3";
  width: 90%;
  height: 200px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.bx1{
  grid-area: bx1;
  height: auto;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border: solid 3px rgb(49, 49, 49);
  border-bottom: none;
  font-family: 'DIGIB';
  font-size: 35px;
}

.bx2{
  grid-area: bx2;
  height: auto;
  width: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 5px;
  border: solid 3px rgb(49, 49, 49);
  font-family: 'DIGIB';
  font-size: 30px;
}

.bx3{
  grid-area: bx3;
  height: auto;
  width: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 5px;
  border: solid 3px rgb(49, 49, 49);
  border-left: none;
  font-family: 'DIGIB';
  font-size: 30px;
}

.cperfil {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 30px; 
}
  
.cperfil img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right:20px
  }
  
.perfil{
  background-color:rgba(255, 123, 0, 0.75);
  height: fit-content;
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
  border: solid 20px transparent;
  border-radius: 50px;
  text-align: center;
}

#tp{
  display: flex;
  flex-direction: row;
}

.p1{
  margin-left: 10px;
}
.p2{
  margin-right: 10px;
}

.btn{
  margin-left: 10px;
}

.lista-exercicio{
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.card-exercicio{
  border: 4px solid var(--cor-da-borda);
  border-radius: 5px;
  margin: 10px;
  padding: 1.25rem;
  width: 340px;
  background-color: var(--cor-fundo);
}

.card-exercicio img{
  border-radius: 10px;
  width: 300px;
  height: 300px;
}



.lista-solicitacoes{
  display: flex;
  flex-wrap: wrap;
}

.card-solicitacoes{
  border: 3px solid var(--cor-da-borda);
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  width: 300px;
  background-color: var(--cor-fundo);
}


.lista-aulas{
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.card-aulas{
  border: 3px solid var(--cor-da-borda);
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  width: 300px;
  background-color: var(--cor-fundo);
}

a{
  color: rgb(255, 255, 255)
}

@media screen and (max-width: 470px){
  .cperfil{
    flex-direction: column;
  }
}

#container-home-secretaria{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#foto-container-secretaria{
  /* flex-basis: 500px; */
  height: 17em;
  width: 30em;
  border-radius: 50px;
  margin: 20px;
  overflow: hidden;
}

#container-dados{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#bloco-container-dados{
  flex-basis: 350px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(254, 185, 47);
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.286);
  box-shadow: 2px 2px 10px rgb(254, 185, 47);
}