{% extends 'base.html' %}

{% block title %}
Aulas
{% endblock title %}

{% block content %}

<div id = "tp">
    <div class = "p1"><h1><p style="color: white;">Aulas</p></h1></div>  
</div>

<div class = "p1">


<div id="container-aulas">
    <div id="texto-aulas" style="background-color: rgba(255, 255, 255, 0.200);">
        <h4 style="background-color: rgb(254, 185, 47); text-align: center;">AULAS DE HOJE</h4>
        {% if aulas_hoje %}
        {% for aula in aulas_hoje %}
            <ul class="p1">
                <li> <u><b>Modalidade:</b></u> {{ aula.modalidade.nome }} </li>
                <li> <u><b>Descrição:</b></u> {{ aula.modalidade.descricao }} </li>
                <li> <u><b>Professor:</b></u> {{ aula.professor }} </li>
                <li> <u><b>Capacidade:</b></u>  {{ aula.inscritos }} / {{ aula.vagas }}</li>
                <li> <u><b>Horário:</b></u> {{ aula.hora }} </li>
                <li> <u><b>Duração:</b></u> {{ aula.duracao }} </p>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href = "{% url 'alunos:inscricao' aula.pk %}" class="btn btn-warning"> Inscreva-se </a>
                </div>

                <br>
                
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href = "{% url 'alunos:desinscricao' aula.pk %}" class="btn btn-warning" style="background-color: rgb(167, 123, 33); border-color: rgb(167, 123, 33);"> Desinscreva-se </a>
                </div>
            </ul>
            <br>
            <br>
            
        {% endfor %}
    
    {% else %}
    
    <p class="p1">Não há nenhuma aula hoje.</p> <br>
    
    {% endif %}
    </div>


<div style="width: 10px;"></div>


    <div id="texto-aulas" style="background-color: rgba(255, 255, 255, 0.200);">

    
<h4 style="background-color: rgb(254, 185, 47); text-align: center;">AULAS DE AMANHÃ</h4>
{% if aulas_amanha %}
        {% for aula in aulas_amanha %}
            
        <ul class="p1">
            <li> <u><b>Modalidade:</b></u> {{ aula.modalidade.nome }} </li>
            <li> <u><b>Descrição:</b></u> {{ aula.modalidade.descricao }} </li>
            <li> <u><b>Professor:</b></u> {{ aula.professor }} </li>
            <li> <u><b>Capacidade:</b></u>  {{ aula.inscritos }} / {{ aula.vagas }}</li>
            <li> <u><b>Horário:</b></u> {{ aula.hora }} </li>
            <li> <u><b>Duração:</b></u> {{ aula.duracao }} </p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href = "{% url 'alunos:inscricao' aula.pk %}" class="btn btn-warning"> Inscreva-se </a>
            </div>
            
            <br>

            <div class="d-grid gap-2 col-6 mx-auto">
                <a href = "{% url 'alunos:desinscricao' aula.pk %}" class="btn btn-warning" style="background-color: rgb(167, 123, 33); border-color: rgb(167, 123, 33);"> Desinscreva-se </a>
            </div>
        </ul> 
        <br>
        <br>


            
        {% endfor %}

    {% else %}

    <p class="p1">Não há nenhuma aula amanhã.</p>

    {% endif %}
    </div>

    <div style="width: 10px;"></div>


</div>

<br>
<br>

<a href="{% url 'alunos:home' %}" class="btn btn-secondary">Voltar</a>
    
<br>

{% endblock content %}