{% extends 'base.html' %}

{% block title %}
Aulas
{% endblock title %}

{% block content %}

<h1>Aulas </h1>

{% if aulas_hoje %}

    <p> Aulas de hoje: </p>

    {% for aula in aulas_hoje %}
        
        <p> Modalidade: {{ aula.modalidade.nome }} </p>
        <p> Descrição: {{ aula.modalidade.descricao }} </p>
        <p> capacidade:  {{ aula.inscritos }} / {{ aula.vagas }}</p>
        <p> <a href = "{% url 'alunos:inscricao' aula.pk %}"> Inscreva-se </a> </p>
        <p> <a href = "{% url 'alunos:desinscricao' aula.pk %}"> Desinscreva-se </a> </p>



        
    {% endfor %}

{% else %}

Não há nenhuma aula hoje.

{% endif %}

{% if aulas_amanha %}

    <p> Aulas de amanhã: </p>

    {% for aula in aulas_amanha %}
        
        <p> Modalidade: {{ aula.modalidade.nome }} </p>
        <p> Descrição: {{ aula.modalidade.descricao }} </p>
        <p> capacidade:  {{ aula.inscritos }} / {{ aula.vagas }}</p>
        <p> <a href = "{% url 'alunos:inscricao' aula.pk %}"> Inscreva-se </a> </p>
        <p> <a href = "{% url 'alunos:desinscricao' aula.pk %}"> Desinscreva-se </a> </p>



        
    {% endfor %}

{% else %}

Não há nenhuma aula amanhã.

{% endif %}

{% endblock content %}