{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<h1>Home do Aluno</h1>

<div>

    <ul>
        <li><a href="{% url 'alunos:perfil' %}">Perfil</a></li>
        <li><a href="{% url 'alunos:meutreino' %}">Meu Treino</a></li>
        <li><a href="{% url 'alunos:aulas' %}">Aulas</a></li>
    </ul>

</div>

<p> {{ ultima_sessao.tempo_inicio }} </p>
<p> {{ ultima_sessao.tempo_fim }} </p>


{% if ultima_sessao.tempo_fim or not ultima_sessao %}

<a href="{% url 'alunos:iniciar_sessao' %}">Começar_sessao</a>

{% else %}
<a href="{% url 'alunos:terminar_sessao' %}">Terminar_sessao</a>

{% endif %}

<p> <a href="{% url 'alunos:perfil' %}">Perfil</a> </p>

{% endblock %}