{% extends 'base.html' %}

{% block title %}
Meu Treino
{% endblock title %}

{% block content %}

<h1>Meu treino</h1>

<div>

{{ treino.comentario }}


{% if itenstreino %}

    {% for itemtreino in itenstreino %}
        
        {{ itemtreino.carga }} 
        
    {% endfor %}

{% else %}

    <a href="{% url 'alunos:novotreino' %}"> N existe treino vigente. Solicite já um treino:  </a>

{% endif %}

<p>Quer um novo treino? <a href="{% url 'alunos:novotreino' %}">Requistar novo treino</a></p>


</div>


{% endblock %}