{% extends 'base.html' %}

{% block title %}
Perfil
{% endblock title %}

{% block content %}
<div id = "tp">
    <div class = "p1"><h1><p style="color: white;">Perfil do aluno</p></h1></div>  
    <div class = "p2"><button style="border-color:#000000; background-color: #025f18;"class="btn btn-primary" aria-pressed="true"><a href="{% url 'alunos:editarperfil' %}">Atualizar</a></button></div>
</div>
    <br>

    <div class = "cperfil">
        <img src="{{ aluno.urlfoto }}" alt="Foto de perfil">
        <div class = "c1"><h2><p style="color: white;">{{ user.name }}</p></h2></div>
    </div>
    <br>
    <div class = "perfil">    
        <ul>
            <b>CPF:</b> {{ aluno.cpf }} <br><br>
            <b>Email:</b> {{ aluno.email }} <br><br>
            <b>Data de Nascimento:</b> {{ aluno.nascimento }} <br><br>
            <b>Telefone:</b> {{ aluno.telefone }} <br><br>
            <b>Endereço:</b> {{ aluno.endereco }} <br><br>
            {% if aluno.altura is None %}
            <b>Altura:</b> <br><br>
            {% else %}
            <b>Altura:</b> {{ aluno.altura }} cm <br><br>
            {% endif %}
            {% if aluno.peso is None %}
            <b>Peso:</b> <br><br>
            {% else %}
            <b>Peso:</b> {{ aluno.peso }} kg <br><br>
            {% endif %}
            {% if aluno.bracos is None %}
            <b>Braços:</b> <br><br>
            {% else %}
            <b>Braços:</b> {{ aluno.bracos }} cm <br><br>
            {% endif %}
            {% if aluno.coxa is None %}
            <b>Coxa:</b> <br><br>
            {% else %}
            <b>Coxa:</b> {{ aluno.coxa }} cm <br><br>
            {% endif %}
            {% if aluno.peitoral is None %}
            <b>Peitoral:</b> <br><br>
            {% else %}
            <b>Peitoral:</b> {{ aluno.peitoral }} cm <br><br>
            {% endif %}
            {% if aluno.cinturaescapular is None %}
            <b>Cintura:</b> <br><br>
            {% else %}
            <b>Cintura:</b> {{ aluno.cinturaescapular }} cm <br><br>
            {% endif %}
            {% if aluno.percentualgordura is None %}
            <b>Percentual de gordura:</b> <br><br>
            {% else %}
            <b>Percentual de gordura:</b> {{ aluno.percentualgordura }} % <br><br>
            {% endif %}
        </ul>
    </div>
    <br>
    <button class="btn btn-danger" aria-pressed="true"><a href="{% url 'alunos:home' %}">Voltar</a></button><br><br>

{% endblock %}