{% extends 'base.html' %}

{% block title %}
Aulas
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-around">
    <div class = "p1"><h1>Aulas</h1></div>
    <div style="width: 70%"></div>
    <div class = "p2"><a href="{% url 'professores:nova_aula' %}" class="btn btn-primary" style="height:40px;"><b>Adicionar</b></a></div>
</div>
    <br>

{% if aulas %}
    <div class = "lista-aulas">
    {% for aula in aulas %}
        <div class = "card-aulas">
            <h5 style="text-align: center; margin-top: 10px; color: white;"><b>Aula de {{ aula.modalidade }}</b></h5>
            <p style="text-align: center;">Dia {{ aula.dia }}</p>
            <div style="text-align: center;">
                <a href="{% url 'professores:detalhe_aula' aula.pk %}" class="btn btn-secondary">Ver detalhes</a>
            </div>
            <br>
            <br>

            <div class="d-grid gap-2 col-6 mx-auto">   
                <a href="{% url 'professores:aula_visivel' aula.pk %}" class="btn btn-secondary"> visivel/invisível </a>
            </div>

            {% if aula.visivel %}
            <p class="p1" style="text-align: center;"> A aula está <b><u style="color: rgb(254, 185, 47);">visível</u></b></p>

            {% else %}
            <p class="p1" style="text-align: center;"> A aula está <b><u>invisível</u></b></p>

            {% endif %}

            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href = "{% url 'professores:deletar_aula' aula.pk %}" class="btn btn-danger">Apagar</a>
            </div>

        </div>
    {% endfor %}
    </div>

{% else %}
    <div class = "p1"><p>Não há nenhuma aula cadastrada.</p></div>
{% endif %}
<p>

</p>

<br>
<br>

<a href="{% url 'professores:home' %}" class="btn btn-secondary">Voltar</a>
    
<br>
<br>

{% endblock %}