{% extends 'base.html' %}

{% block title %}
Aulas
{% endblock title %}

{% block content %}

<h1>Aulas </h1>

{% if aulas %}

    {% for aula in aulas %}
        
        <p> <a href="{% url 'professores:detalhe_aula' aula.pk %}"> {{ aula.modalidade }} </a>  </p> <a href="{% url 'professores:aula_visivel' aula.pk %}"> visivel </a>

        {% if aula.visivel %}

        <p> A aula está visível</p>

        {% else %}

        <p> A aula está invisível </p>

        {% endif %}
        
        <hr>

    {% endfor %}

{% else %}

{% endif %}
<p>
<a href="{% url 'professores:nova_aula' %}"> Adicione novas aulas: </a> 
</p>
{% endblock %}