{% extends 'base.html' %}

{% block title %}
Aulas
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-around">
    <div class = "p1"><h1>Aulas</h1></div>
    <div style="width: 70%"></div>
    <div class = "p2"><a href="{% url 'professores:nova_aula' %}" class="btn btn-primary" style="height:40px;"><b>Adicionar</b></a></div>
</div>
    <br>

{% if aulas %}
    <div class = "lista-aulas">
    {% for aula in aulas %}
        <div class = "card-aulas">
            <p> <a href="{% url 'professores:detalhe_aula' aula.pk %}"> {{ aula.modalidade }} </a> dia {{ aula.dia }} </p> 
            <a href="{% url 'professores:aula_visivel' aula.pk %}"> visivel/invisível </a>

            {% if aula.visivel %}
            <p> A aula está visível</p>

            {% else %}

            <p> A aula está invisível </p>

            {% endif %}

            <a href="{% url 'professores:deletar_aula' aula.pk %}"> deletar aula </a>

        </div>
    {% endfor %}
    </div>

{% else %}
    <div class = "p1"><p>Não há nenhuma aula cadastrada.</p></div>
{% endif %}
<p>

</p>

<br>
<br>

<a href="{% url 'professores:home' %}" class="btn btn-secondary">Voltar</a>
    
<br>
<br>

{% endblock %}