{% extends 'base.html' %}

{% block title %}
Aula de {{ aula.modalidade }}
{% endblock title %}

{% block content %}

<h1 class="p1"> Aula de {{ aula.modalidade }} </h1>
<br>

<ul class="p1">
    <li> <u><b>Modalidade:</b></u> {{ aula.modalidade.nome }} </li>
    <li> <u><b>Descrição:</b></u> {{ aula.modalidade.descricao }} </li>
    <li> <u><b>Capacidade:</b></u>  {{ aula.inscritos }} / {{ aula.vagas }}</li>
    <li> <u><b>Horário:</b></u> {{ aula.hora }} </li>
    <li> <u><b>Duração:</b></u> {{ aula.duracao }} </p>  
</ul>

{% if alunos %}

    <p> Lista de alunos inscritos: </p>

    {% for aluno in alunos %}
            
    <p> {{ aluno }}</p>

    {% endfor %}


{% else %}

<p class="p1">Não há alunos inscritos ainda</p>

{% endif %}

<br>
<br>

<a href="{% url 'professores:aulas' %}" class="btn btn-secondary">Voltar</a>
    
<br>
<br>

{% endblock %}