{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}


<div class="d-flex justify-content-around">
    <h1>Olá, {{ user.name }}!</h1>
    <div style="width: 10px;"></div>
    <div style="width: 10px;"></div>
    <div style="width: 10px;"></div>

</div>

<br>
<br>

<div class="d-flex justify-content-around">

    <div style="width: 10px;"></div>

    <a href="{% url 'professores:solicitacoes' %}" id="foto-container">
        <div class="card bg-dark text-white">
        <img src="/static/meu_treino.jpg" class="d-block w-100 brilho-50" alt="Meu treino">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">Montar Treino</h1>
        </div>
      </div>
    </a>

    <div style="width: 10px;"></div>

    <a href="{% url 'professores:aulas' %}" id="foto-container">
      <div class="card bg-dark text-white">
        <img src="/static/aulas.webp" class="d-block w-100 brilho-30" alt="Aulas">
        <div class="card-img-overlay">
            <h1 class="card-title text-center">Cadastrar Aulas</h1>
        </div>
      </div>
    </a>

    <div style="width: 10px;"></div>
      
</div>

<p><a type="button" href="{% url 'logout' %}?next=/user/login/">Logout</a></p>

{% endblock %}