{% extends 'base.html' %}

{% block title %}
Montar treino
{% endblock title %}

{% block content %}

<div id = "tp">
    <div class = "p1"><h1><p style="color: white;">Adicionar um exercício</p></h1></div>  
</div>
<br>

<div>
    <div class = "p1">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
        </form>
        <br>
        <br>
        <a href="{% url 'professores:solicitacoes' %}">Cancelar</a>
    </div>
</div>



{% endblock %}