{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<div id = "tp">
    <div class = "p1"><h1><p style="color: white;">Solicitações de treino</p></h1></div>  
</div>

{% if solicitacoes %}
    <div class = "lista-solicitacoes">
    {% for solicitacao in solicitacoes %}
        <div class = "card-solicitacoes">
            <p style="text-align: center; color:rgb(0, 0, 0)">Solicitação do aluno <b>{{ solicitacao.aluno.user.name}}</b> de <b>nível {{ solicitacao.nivel }}</b></p>
            <p style="color:rgb(255, 255, 255)">Comentário do aluno: <br>    "{{ solicitacao.comentario }}"</p><br>
            <button style="border-color:#000000; background-color: #ffffff;"class="btn btn-primary" aria-pressed="true"><a href="{% url 'professores:mostra_treino' solicitacao.pk %}">Editar</a></button>
        </div>
    {% endfor %}
    </div>
    <br>
{% else %}

{% endif %}
    <button class="btn btn-danger" aria-pressed="true"><a href = "{% url 'professores:solicitacoes'  %}">Voltar</a></button> 
    <br>
{% endblock %}