{% extends 'base.html' %}

{% block title %}
Criar Treino
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-around">
    <div class = "p1"><h1>Solicitação de treino</h1></div>
    <div style="width: 60%"></div>
    <div class = "p2"><a href = "{% url 'professores:manda_treino' pk %}" class="btn btn-success" style="height:40px;"><b>Enviar</b></a></div>
</div>
    <br>

{% if itenstreino %}
    <div class = "lista-exercicio">
    {% for item in itenstreino %}
        <div class = "card-exercicio">
            <p> <b>Exercício:</b> {{ item.exercicio }}</p>
            <p> <b>Carga:</b> {{ item.carga }}</p>
            <p> <b>Repetições:</b> {{ item.repeticao }}</p>
            <p><img src="{{ item.exercicio.urlfoto }}" alt="Foto do exercicio" id="foto-exercicio"> </p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href = "{% url 'professores:deleta_ex_treino' pk item.pk %}" class="btn btn-danger">Deletar item</a>
            </div>
        </div>

        <br>
    {% endfor %}
    </div>
{% else %}

{% endif %}
    <hr>
        <a href = "{% url 'professores:add_ex_treino'  pk  %}" class="btn btn-primary">Adicionar um novo exercício</a>
        <br><br>
        <br>
        <br>

        <a href="{% url 'professores:solicitacoes' %}" class="btn btn-secondary">Voltar</a>
            
        <br>
        <br>

{% endblock %}