{% extends 'base.html' %}

{% block title %}
aaa
{% endblock title %}

{% block content %}

<h1>Solicitação de treino</h1>

{% if itenstreino %}

    {% for item in itenstreino %}
        
        <p> Exercício: {{ item.exercicio }}</p>
        <p> Carga: {{ item.carga }}</p>
        <p> Repetições: {{ item.repeticao }}</p>
        <br>
        
    {% endfor %}

{% else %}

{% endif %}

<ul>

    <li> <a href = "{% url 'professores:add_ex_treino'  pk  %}">Adicione um novo item</a> </li>
    <li> <a href = "">Remova um item</a> </li>
    <li> <a href = "{% url 'professores:solicitacoes'  %}">Voltar</a> </li>
    <li> <a href = "{% url 'professores:manda_treino' pk %}">Mandar</a> </li>

</ul>

{% endblock %}